<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthEastCN" connectionString="Data Source=.;Initial Catalog=Northeast;Integrated Security=true;Encrypt=false;"/>
  </connectionStrings>

  <appSettings>
    <add key="BranchID" value="5"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="debugListener" type="System.Diagnostics.DefaultTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>

